/* ===================================
   1. CSS RESET
   =================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

:target {
    scroll-margin-block: 5ex;
}

/* ===================================
   2. CSS CUSTOM PROPERTIES
   =================================== */
:root {
    color-scheme: light dark;
    
    /* Primary Colors */
    --clr-primary: hsl(233, 26%, 24%);
    --clr-green-500: hsl(136, 64%, 51%);
    --clr-cyan-400: hsl(192, 69%, 51%);
    
    /* Neutrals */
    --clr-blue-950: hsl(233, 26%, 24%);
    --clr-gray-600: hsl(233, 8%, 62%);
    --clr-gray-100: hsl(220, 16%, 96%);
    --clr-gray-50: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    
    /* Semantic */
    --clr-bg: hsl(0, 0%, 98%);
    --clr-text: hsl(233, 26%, 24%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: hsl(0, 0%, 100%);
        --clr-bg: hsl(233, 26%, 24%);
        --clr-text: hsl(0, 0%, 100%);
    }
}

/* ===================================
   3. BASE & TYPOGRAPHY
   =================================== */
body {
    min-height: 100vh;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-family: 'Public Sans', sans-serif;
    color: var(--clr-gray-600);
}

h1, h2, h3, h4 {
    text-wrap: balance;
    color: var(--clr-blue-950);
    font-weight: 300;
    line-height: 1.3;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    display: inline-block;
    max-width: 100%;
}

input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

/* ===================================
   4. COMPONENTS - Buttons
   =================================== */
.btn {
    padding: 0.8em 2.0em;
}

.request-invite-btn {
    background-image: linear-gradient(to bottom, var(--clr-green-500), var(--clr-cyan-400));
    border: none;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    color: var(--clr-white);
    white-space: nowrap;
}

/* ===================================
   5. LAYOUT - Section Wrapper
   =================================== */
.section-wrapper {
    padding: 2em;
}

.intro-section .section-wrapper {
    padding: 0;
}

/* ===================================
   6. HEADER
   =================================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
}

.header-logo {
    display: flex;
    align-items: center;
}

.navigation-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.navigation-link-item {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
}

.navigation-link-item a {
    text-decoration: none;
    color: var(--clr-text);
}

.close-nav {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color: var(--clr-gray-500);
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.5em;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
    background-color: black;
}

.navigation-open {
    transform: translateX(-100%);
}

/* ===================================
   7. INTRO SECTION
   =================================== */
.intro-section {
    text-align: center;
}

.intro-text-content {
    padding: 2em;
}

.intro-section .request-invite-btn {
    align-self: center;
    margin-right: auto;
}

.intro-heading {
    font-size: 2.5rem;
    margin-top: 0;
}

.intro-paragraph {
    line-height: initial;
    margin-block: 1.5em 2em;
}

.image-mockups-wrapper {
    background: url('../images/bg-intro-mobile.svg') no-repeat;
    background-size: cover;
    background-position: 100% 45%;
    overflow: hidden;
    display: block;
    padding-inline: 1em;
}

.image-mockups {
    width: 100%;
    margin-top: -35%;
    display: block;
}

/* ===================================
   8. WHY CHOOSE US SECTION
   =================================== */
.why-choose-us-section {
    background-color: var(--clr-gray-100);
    text-align: center;
}

.features-container {
    margin-top: 2.5em;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
}

.feature-heading {
    margin-top: 1.5em;
}

/* ===================================
   9. LATEST ARTICLES SECTION
   =================================== */
.latest-articles-section {
    text-align: left;
    background-color: var(--clr-gray-50);
}

.latest-articles-heading {
    text-align: center;
}

.articles-container {
    margin-top: 2.5em;
}

.latest-article-item {
    background-color: var(--clr-white);
    margin-top: 1.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.latest-article-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.latest-article-text-content {
    padding: 1.5em 2em;
}

/* ===================================
   10. FOOTER
   =================================== */
.footer-wrapper {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-block: 3em;
}

.footer-wrapper * {
    margin: 0;
}

.social-media-links {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 0;
}

.social-media-links > li {
    list-style: none;
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 0;
}

.footer-link-item {
    list-style: none;
    color: var(--clr-white);
    font-weight: 300;
}

.footer-link-item a {
    text-decoration: none;
    opacity: 0.8;
}

/* ===================================
   11. MEDIA QUERIES - (665px+)
   =================================== */
@media (min-width: 665px) {
    /* --- Layout --- */
    main {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .intro-section,
    .why-choose-us-section,
    .latest-articles-section {
        grid-column: 1 / -1;
    }

    .section-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 2rem;
        padding-block: 2em;
    }

    .why-choose-us-section .section-wrapper,
    .latest-articles-section .section-wrapper,
    .footer-wrapper {
        padding-inline: 4em;
    }

    .why-choose-us-section,
    .latest-articles-section {
        padding-block: 2em;
    }

    /* --- Intro Section --- */
    .intro-section {
        background-color: var(--clr-gray-50);
    }

    .intro-section .section-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-inline-start: 4em;
        padding-inline-end: 0;
        padding-block: 0;
    }

    .intro-text-content {
        flex: 1 1 40%;
        min-width: 150px;
        max-width: 500px;
        padding-left: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-mockups-wrapper {
        flex: 1 1 60%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 1em;
        background: url('../images/bg-intro-desktop.svg') no-repeat;
        background-position: 10% 43%;
        background-size: clamp(300px, 80vw, 1000px);
        order: 2;
    }

    .image-mockups {
        width: clamp(280px, 35vw, 650px);
        margin-top: clamp(0%, -15vw, -10%);
        margin-left: clamp(5%, 10vw, 15%);
    }

    /* --- Why Choose Us Section --- */
    .why-choose-us-heading,
    .why-choose-us-paragraph,
    .latest-articles-heading {
        grid-column: 1 / span 2;
        text-align: left;
    }

    .features-container,
    .articles-container {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        margin-top: 2.5em;
        text-align: left;
    }

    .feature-item {
        grid-column: span 1;
        margin-top: 0;
        min-width: 0;
        align-items: flex-start;
    }

    /* --- Latest Articles Section --- */
    .latest-article-item {
        grid-column: span 1;
        margin-top: 0;
        min-width: 0;
    }

    .latest-article-image {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }
}


/* ===================================
   12. MEDIA QUERIES - (1100px+)
   =================================== */
@media (min-width: 1100px) {
    /* --- Header --- */
    .open-nav,
    .close-nav {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 6em;
    }

    .navigation {
        position: initial;
        background-color: #fff;
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        margin: 0;
        padding: 0;
    }

    .navigation-link-item {
        list-style: none;
        font-size: 1rem;
        font-weight: 400;
    }

    .navigation-link-item a {
        text-decoration: none;
        color: var(--clr-gray-600);
    }
}


/* ===================================
   12. MEDIA QUERIES - (1300px+)
   =================================== */
@media (min-width: 1300px) {
    /* --- Layout --- */
    main {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .section-wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding: 2em 8em;
    }

    .why-choose-us-section .section-wrapper,
    .latest-articles-section .section-wrapper,
    .footer-wrapper {
        padding-inline: 8em;
    }

    .why-choose-us-section,
    .latest-articles-section {
        padding-block: 4em;
    }

    /* --- Intro Section --- */
    .intro-section {
        max-height: 650px;
        overflow: hidden;
    }

    .intro-section .section-wrapper {
        padding-inline-start: 8em;
        max-height: 650px;
    }

    .intro-text-content {
        min-width: 280px;
    }

    .image-mockups-wrapper {
        flex: 1;
        display: block;
        background-position: -45% 50%;
        background-size: 140%;
    }

    .image-mockups {
        width: 80%;
        margin-top: -19%;
        margin-left: 35%;
    }

    /* --- Features & Articles --- */
    .features-container,
    .articles-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

   /* --- Footer --- */
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: auto auto;
        width: 100%;
    }

    .footer-logo {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
    }

    .social-media-links {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        align-self: end;
    }

    .footer-link-list {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto auto;
        grid-auto-flow: column;
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
        align-self: start;
        align-content: start;
        justify-self: left;
        column-gap: 8em;
        row-gap: 1.5em;
    }

    .footer-link-item {
        line-height: 1;
    }

    .footer-wrapper .request-invite-btn {
        grid-column: 4;
        grid-row: 1;
        justify-self: end;
        align-self: start;
        margin-top: 0.4em;
    }

    .footer-wrapper p {
        grid-column: 4;
        grid-row: 2;
        justify-self: end;
        align-self: end;
        margin-bottom: 0.4em;
        font-size: 0.875rem;
        font-weight: 500;
    }
}


header {
    border: 2px solid red;
}